:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --additional-color: #757575;
    --main-background: #fff;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
}

/* .container */
body {
    font-family: "Roboto";
}

.logo {
    color: var(--logo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-color {
    color: var(--accent-color);
}

.nav-links {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-links:hover {
    color: var(--accent-color);
}

.header-links {
    color: var(--additional-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-links:hover {
    color: var(--accent-color);
}

.hero {
    background-color: var(--footer-background);
}

.hero-title {
    color: var(--main-background);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-btn {
    background-color: var(--accent-color);
    color: var(--main-background);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}

.charact-title {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.charact-text {
    color: var(--additional-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.wawd-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.wawd-list {
    display: flex;
    justify-content: space-around;
}

.workers-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.workers-name {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.workers-text {
    color: var(--additional-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

footer {
    background-color: var(--footer-background);
}

.fotter-logo {
    color: var(--main-background);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    font-family: "Raleway";
}

.footer-span {
    color: var(--accent-color);
}

.fotter-location {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.address-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration: none;
}

/* portfolio css */
/* portfolio css */
/* portfolio css */

.asortie-btn {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}

.asortie-btn:hover {
    background-color: var(--accent-color);
    color: var(--main-background);
}

.pages-name {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.pages-text {
    color: var(--additional-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}